<mat-toolbar-row>
  <h1 class="mat-h1">Registrar país</h1>
</mat-toolbar-row>
<form [formGroup]="createForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="create-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="País" formControlName="name">
            <mat-error *ngIf="createForm.controls.name.hasError('required')">
              País es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Code</mat-label>
            <input matInput placeholder="Code" formControlName="code">
            <mat-hint>numérico (Véase: ISO 3166-1)</mat-hint>
            <mat-error *ngIf="createForm.controls.code.hasError('required')">
              Código es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>alfa-2</mat-label>
            <input matInput placeholder="alfa-2" formControlName="alfa2">
            <mat-hint>alfa-2 (Véase: ISO 3166-1)</mat-hint>
            <mat-error *ngIf="createForm.controls.alfa2.hasError('required')">
              alfa-2 es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>alfa-3</mat-label>
            <input matInput placeholder="alfa-3" formControlName="alfa3">
            <mat-hint>alfa-3 (Véase: ISO 3166-1)</mat-hint>
            <mat-error *ngIf="createForm.controls.alfa3.hasError('required')">
              alfa-3 es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!createForm.valid" mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon> Crear
      </button>
    </mat-card-actions>
  </mat-card>
</form>