<mat-toolbar-row>
    <h1 class="mat-h1">Asignar nueva autoridad a un usuario</h1>
</mat-toolbar-row>
<form [formGroup]="createForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="create-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Usuario</mat-label>
              <mat-select matNativeControl [formControl]="createForm.controls.username">
              <mat-option *ngFor="let user of users$ | async" [value]="user.username" selected>
                  {{ user.username }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Autoridad</mat-label>
              <mat-select matNativeControl [formControl]="createForm.controls.authority">
              <mat-option *ngFor="let authority of authorities$ | async" [value]="authority" selected>
                  {{ authority }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="!createForm.valid" mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Crear
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  