<div class="welcome">
    <div class="welcoming">
      <img class="logo" src="/assets/img/navbar-icon/logo.png" alt="logo" />
      <img class="welcome-show" src="/assets/img/welcome.png" alt="welcome" />
      <div class="logIn">
        <h1 class="header">Welcome</h1>
        <p class="sub-header">Please Log In</p>
        <form action="" method="Post">
          <div class="user">
            <label htmlFor="user">User</label>
            <input type="text" name="user" value=""  placeholder="Enter User"  required />
          </div>
          <div class="password">
            <label htmlFor="password">Password</label>
            <input type="password" name="password" value="" placeholder="Enter Password" required />
          </div>
          <div class="remember-forget">
            <p class="remember">Remember my user</p>
            <!--Link to="/forget-password"-->
              <p class="forget">I Forgot My Password</p>
            <!--/Link-->
          </div>
          
        </form>
        <div class="submitButton">
              <!--Button text={`Start Sessions`} background={`var(--primary-color)`}  click={callApiLogin}/-->
          </div>
    </div>
  </div>
</div>