<mat-toolbar-row>
    <h1 class="mat-h1">Editar grupo con el id: {{ id }}</h1>
</mat-toolbar-row>
<form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="create-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Grupo</mat-label>
              <input matInput placeholder="Grupo" formControlName="groupName">
            </mat-form-field>
          </div>
        </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Roles</mat-label>
            <mat-select multiple formControlName="roles">
              <mat-option *ngFor="let role of roles$ | async" [value]="role" selected>
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Permisos</mat-label>
            <mat-select multiple formControlName="privileges">
              <mat-option *ngFor="let permission of permissions$ | async" [value]="permission" selected>
                {{ permission.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid">
          <mat-icon>save</mat-icon> Guardar
        </button>
        <div class="spacer"></div>
        <a mat-raised-button color="warn" (click)="delete()">
          <mat-icon>delete</mat-icon> Eliminar
        </a>
      </mat-card-actions>
    </mat-card>
  </form>
  