<div class="container mx-auto bg-white shadow-2xl">
  <div class="w-full">
    <nav class="flex px-4 py-2 text-stone-500 justify-between" aria-label="Breadcrumb">
      <ol class="inline-flex md:space-x-2 rtl:space-x-reverse">
        <li>
          <a href="https://code-ric.com" class="inline-flex items-center text-sm font-medium hover:text-orange-600"
            title="Coderic FinTech">
            <svg class="w-3.5 h-3.5 ms-2 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="mdi-finance"
              viewBox="0 0 24 24">
              <path
                d="M6,16.5L3,19.44V11H6M11,14.66L9.43,13.32L8,14.64V7H11M16,13L13,16V3H16M18.81,12.81L17,11H22V16L20.21,14.21L13,21.36L9.53,18.34L5.75,22H3L9.47,15.66L13,18.64" />
            </svg> <span class="hidden sm:inline-block" i18n>FINTECH</span>
          </a>
        </li>
        <li>
          <a href="https://coderic.cloud" class="inline-flex items-center text-sm font-medium hover:text-orange-600"
            title="Coderic Cloud">
            <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="currentColor">
              <path
                d="M12 6c2.62 0 4.88 1.86 5.39 4.43l.3 1.5 1.53.11c1.56.1 2.78 1.41 2.78 2.96 0 1.65-1.35 3-3 3H6c-2.21 0-4-1.79-4-4 0-2.05 1.53-3.76 3.56-3.97l1.07-.11.5-.95C8.08 7.14 9.94 6 12 6m0-2C9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96C18.67 6.59 15.64 4 12 4z" />
            </svg> <span class="hidden sm:inline-block" i18n>CLOUD</span>
          </a>
        </li>
        <li>
          <a href="https://coderic.net" class="inline-flex items-center text-sm font-medium hover:text-orange-600"
            title="Coderic Hub Content">
            <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="currentColor">
              <rect x="6" y="7" width="8" height="2" />
              <rect x="6" y="11" width="12" height="2" />
              <rect x="6" y="15" width="2.99" height="2" />
              <path d="M14,3,11,0V2H4A2,2,0,0,0,2,4V20a2,2,0,0,0,2,2H8V20H4V4h7V6Z" />
              <path d="M10,21l3,3V22h7a2,2,0,0,0,2-2V4a2,2,0,0,0-2-2H16V4h4V20H13V18Z" />
            </svg> <span class="hidden sm:inline-block" i18n>HUB</span>
          </a>
        </li>
        <li>
          <a href="https://coderic.org" class="inline-flex items-center text-sm font-medium hover:text-orange-600"
            title="Coderic Organization">
            <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="currentColor">
              <path
                d="M19,9A7,7,0,1,0,8.0257,14.75928L5,20l2.25562.09314L8.46411,22l3.46613-6.00354C11.95374,15.9967,11.97644,16,12,16s.04626-.0033.06976-.00354L15.53589,22l1.232-1.866L19,20l-3.02576-5.24072A6.98951,6.98951,0,0,0,19,9ZM7,9a5,5,0,1,1,5,5A5,5,0,0,1,7,9Z" />
              <circle cx="12" cy="9" r="3" />
            </svg> <span class="hidden sm:inline-block" i18n>ORGANIZATION</span>
          </a>
        </li>
      </ol>
      <ol class="inline-flex md:space-x-2 rtl:space-x-reverse" *ngIf="auth.user$ | async as user; else loggedOut">
        <li>
          <a routerLink="/profile" class="inline-flex items-center text-sm font-medium hover:text-orange-600"
            title="Profile">
            <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
              fill="currentColor">
              <defs></defs>
              <path d="M16,8a5,5,0,1,0,5,5A5,5,0,0,0,16,8Zm0,8a3,3,0,1,1,3-3A3.0034,3.0034,0,0,1,16,16Z" />
              <path
                d="M16,2A14,14,0,1,0,30,16,14.0158,14.0158,0,0,0,16,2ZM10,26.3765V25a3.0033,3.0033,0,0,1,3-3h6a3.0033,3.0033,0,0,1,3,3v1.3765a11.8989,11.8989,0,0,1-12,0Zm13.9925-1.4507A5.0016,5.0016,0,0,0,19,20H13a5.0016,5.0016,0,0,0-4.9925,4.9258,12,12,0,1,1,15.985,0Z" />
              <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32"
                height="32" style="fill: none" />
            </svg> <span class="hidden sm:inline-block">{{ user.name }}</span>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard" class="inline-flex items-center text-sm font-medium hover:text-orange-600"
            title="Dashboard">
            <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
              fill="currentColor">
              <defs />
              <title>dashboard</title>
              <rect x="24" y="21" width="2" height="5" />
              <rect x="20" y="16" width="2" height="10" />
              <path d="M11,26a5.0059,5.0059,0,0,1-5-5H8a3,3,0,1,0,3-3V16a5,5,0,0,1,0,10Z" />
              <path
                d="M28,2H4A2.002,2.002,0,0,0,2,4V28a2.0023,2.0023,0,0,0,2,2H28a2.0027,2.0027,0,0,0,2-2V4A2.0023,2.0023,0,0,0,28,2Zm0,9H14V4H28ZM12,4v7H4V4ZM4,28V13H28.0007l.0013,15Z" />
              <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32"
                height="32" style="fill:none" />
            </svg> <span class="hidden sm:inline-block" i18n>Dashboard</span>
          </a>
        </li>
        <li>
          <button type="submit" (click)="logout()"
            class="inline-flex items-center text-sm font-medium hover:text-orange-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-3.5 h-3.5 ms-2 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>
            <span class="hidden sm:inline-block" i18n>Sign out</span>
          </button>
        </li>
      </ol>
      <ng-template #loggedOut>
        <ol class="inline-flex md:space-x-2 rtl:space-x-reverse">
          <li>
            <a (click)="login()" class="inline-flex items-center text-sm font-medium hover:text-orange-600"
              title="Log in">
              <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                fill="currentColor">
                <defs />
                <title>login</title>
                <path
                  d="M26,30H14a2,2,0,0,1-2-2V25h2v3H26V4H14V7H12V4a2,2,0,0,1,2-2H26a2,2,0,0,1,2,2V28A2,2,0,0,1,26,30Z" />
                <polygon points="14.59 20.59 18.17 17 4 17 4 15 18.17 15 14.59 11.41 16 10 22 16 16 22 14.59 20.59" />
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32"
                  height="32" style="fill:none" />
              </svg> <span class="hidden sm:inline-block">Sign in</span>
            </a>
          </li>
        </ol>
      </ng-template>
    </nav>
  </div>
  <header class="flex justify-between border-t-4 border-b-8 border-orange-500">
    <div class="flex items-center w-1/4 h-32 ml-6">
      <a routerLink="/" class="flex justify-start" itemscope itemtype="https://schema.org/Corporation">
        <img src="/assets/img/coderic-isotipo.svg" itemprop="logo" alt="Coderic logo" class="h-20">
        <svg class="h-20" viewBox="0 0 140 50" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient id="metal" x1="0" x2="0" y1="0" y2="1">
              <stop offset="0%" stop-color="hsl(0,0%,58%)" />
              <stop offset="47%" stop-color="hsl(0,0%,80%)" />
              <stop offset="53%" stop-color="hsl(0,0%,38%)" />
              <stop offset="100%" stop-color="hsl(0,0%,58%)" />
            </linearGradient>
            <linearGradient id="miel" x1="0" x2="0" y1="0" y2="1">
              <stop offset="0%" stop-color="#fec963" />
              <stop offset="50%" stop-color="#fea032" />
              <stop offset="100%" stop-color="#fe7b05" />
            </linearGradient>
          </defs>
          <text
            style="font-size:34px;
            font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Red Hat Display';letter-spacing:-2px;fill:url(#metal);"
            x="0" y="37.590412">CODERIC</text>
        </svg>
      </a>
    </div>
    <div class="w-3/4 bg-no-repeat bg-cover" style="
        background-position: center;
        background-image: url('/assets/img/hexagons.jpg');
      ">
      <div class="w-full h-full bg-fixed" style="background-color: rgba(255, 255, 255, 0.80);
          background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229, 229, 229, 0.50) 150%);">
        <div class="flex items-center justify-center h-full text-right">
          <div class="flex justify-end w-full gap-3 px-6 text-black md:px-6">
            
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="hidden h-48 bg-stone-700">
      &nbsp;
    </div>
    <div class="justify-between hidden h-10 border-t-2 border-orange-500 md:flex text-stone-500 bg-stone-800">
      <nav class="flex px-4 py-2">
        <ol class="inline-flex items-center text-stone-500 md:space-x-2 rtl:space-x-reverse">
          <li>
            <a href="/docs/" class="inline-flex items-center text-sm font-medium hover:text-white"
              i18n>Documentation</a>
          </li>
          <li>·</li>
          <!--li>
            <a href="/wiki/"
              class="inline-flex items-center text-sm font-medium hover:text-white"
              i18n>Wiki</a>
          </li>
          <li>·</li>
          <li>
            <a routerLink="/faqs"
              class="text-sm font-medium ms-1 hover:text-white md:ms-2"
              i18n>Faq's</a>
        </li-->
        </ol>
      </nav>
      <nav class="flex px-4 py-2" aria-label="Policies">
        <ol class="inline-flex items-center text-stone-500 md:space-x-2 rtl:space-x-reverse">
          <li>
            <a routerLink="/privacy" class="inline-flex items-center text-sm font-medium hover:text-white"
              i18n>Privacy</a>
          </li>
          <li>
            <a routerLink="/legal" class="inline-flex items-center text-sm font-medium hover:text-white" i18n>Legal</a>
          </li>
          <li>·</li>
          <li>
            <a routerLink="/tos" class="text-sm font-medium ms-1 hover:text-white" i18n>Terms and Conditions</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="py-4 text-xs text-center border-t-2 border-orange-500 bg-stone-900 text-stone-500">
      <p i18n>Corporation Oriented to the Development of Engineering Resources and Information for Commerce</p>
      <p>
        Coderic <sup>©</sup> · <span i18n>since september 30, 2004</span>
      </p>
    </div>
  </footer>
</div>
