<div class="container mx-auto bg-white shadow-2xl">
  <div class="w-full">
  <nav class="flex px-4 py-2 text-stone-500 justify-between" aria-label="Breadcrumb">
    <ol class="inline-flex md:space-x-2 rtl:space-x-reverse">
      <li>
        <a href="https://code-ric.com"
          class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
          title="Coderic FinTech">
          <svg class="w-3.5 h-3.5 ms-2 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="mdi-finance" viewBox="0 0 24 24"><path d="M6,16.5L3,19.44V11H6M11,14.66L9.43,13.32L8,14.64V7H11M16,13L13,16V3H16M18.81,12.81L17,11H22V16L20.21,14.21L13,21.36L9.53,18.34L5.75,22H3L9.47,15.66L13,18.64" /></svg>          <span class="hidden sm:inline-block" i18n>FINTECH</span>
        </a>
      </li>
      <li>
        <a href="https://coderic.cloud"
          class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
          title="Coderic Cloud">
          <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 6c2.62 0 4.88 1.86 5.39 4.43l.3 1.5 1.53.11c1.56.1 2.78 1.41 2.78 2.96 0 1.65-1.35 3-3 3H6c-2.21 0-4-1.79-4-4 0-2.05 1.53-3.76 3.56-3.97l1.07-.11.5-.95C8.08 7.14 9.94 6 12 6m0-2C9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96C18.67 6.59 15.64 4 12 4z"/></svg>          <span class="hidden sm:inline-block" i18n>CLOUD</span>
        </a>
      </li>
      <li>
        <a href="https://coderic.net"
          class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
          title="Coderic Hub Content">
          <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><rect x="6" y="7" width="8" height="2"/><rect x="6" y="11" width="12" height="2"/><rect x="6" y="15" width="2.99" height="2"/><path d="M14,3,11,0V2H4A2,2,0,0,0,2,4V20a2,2,0,0,0,2,2H8V20H4V4h7V6Z"/><path d="M10,21l3,3V22h7a2,2,0,0,0,2-2V4a2,2,0,0,0-2-2H16V4h4V20H13V18Z"/></svg>          <span class="hidden sm:inline-block" i18n>HUB</span>
        </a>
      </li>
      <li>
        <a href="https://coderic.org"
          class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
          title="Coderic Organization">
          <svg class="w-3.5 h-3.5 ms-2 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19,9A7,7,0,1,0,8.0257,14.75928L5,20l2.25562.09314L8.46411,22l3.46613-6.00354C11.95374,15.9967,11.97644,16,12,16s.04626-.0033.06976-.00354L15.53589,22l1.232-1.866L19,20l-3.02576-5.24072A6.98951,6.98951,0,0,0,19,9ZM7,9a5,5,0,1,1,5,5A5,5,0,0,1,7,9Z"/><circle cx="12" cy="9" r="3"/></svg>          <span class="hidden sm:inline-block" i18n>ORGANIZATION</span>
        </a>
      </li>
    </ol>
    <ol class="inline-flex md:space-x-2 rtl:space-x-reverse">
            <li>
          <a routerLink="/development"
            class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
            title="Development">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-3.5 h-3.5 ms-2 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
            </svg>
            <span class="hidden sm:inline-block" i18n>Development</span>
          </a>
        </li>
        <li>
          <a routerLink="/crowdfunding"
            class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
            title="Crowdfunding">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-3.5 h-3.5 ms-2 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
            </svg>
            <span class="hidden sm:inline-block" i18n>Crowdfunding</span>
          </a>
        </li>
        <li>
          <a routerLink="/coworking"
            class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
            title="Coworking">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-3.5 h-3.5 ms-2 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
            </svg>
            <span class="hidden sm:inline-block" i18n>Coworking</span>
          </a>
        </li>
        <li>
          <a routerLink="/freelancers"
            class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
            title="Freelancers">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-3.5 h-3.5 ms-2 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
            </svg>
            <span class="hidden sm:inline-block" i18n>Freelancers</span>
          </a>
        </li>
        <li>
          <a routerLink="/learning"
            class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
            title="Learning">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-3.5 h-3.5 ms-2 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
            </svg>
            <span class="hidden sm:inline-block" i18n>Learning</span>
          </a>
        </li>
        <li>
          <a routerLink="/community"
            class="inline-flex items-center text-sm font-medium hover:text-orange-600 dark:text-gray-400 dark:hover:text-white"
            title="Community">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-3.5 h-3.5 ms-2 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
            </svg>
            <span class="hidden sm:inline-block" i18n>Community</span>
          </a>
        </li>
    </ol>
  </nav>
  </div>
  <header class="flex justify-between border-t-4 border-b-8 border-orange-500">
    <div class="flex items-center w-1/4 h-32 ml-6">
      <a  routerLink="/" class="flex justify-start" itemscope itemtype="https://schema.org/Corporation">
        <img src="/assets/img/coderic-isotipo.svg" itemprop="logo" alt="Coderic logo" class="h-20">
        <svg
          class="h-20"
          viewBox="0 0 140 50"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient id="metal" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0%" stop-color="hsl(0,0%,58%)" />
            <stop offset="47%" stop-color="hsl(0,0%,80%)" />
            <stop offset="53%" stop-color="hsl(0,0%,38%)" />
            <stop offset="100%" stop-color="hsl(0,0%,58%)" />
            </linearGradient>
            <linearGradient id="miel" x1="0" x2="0" y1="0" y2="1">
              <stop offset="0%" stop-color="#fec963" />
              <stop offset="50%" stop-color="#fea032" />
              <stop offset="100%" stop-color="#fe7b05" />
            </linearGradient>
            </defs>
            <text
            style="font-size:34px;
            font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Red Hat Display';letter-spacing:-2px;fill:url(#metal);"
            x="0"
            y="37.590412">CODERIC</text>
        </svg>
      </a>
    </div>
    <div class="w-3/4 bg-no-repeat bg-cover" style="
        background-position: center;
        background-image: url('/assets/img/hexagons.jpg');
      ">
      <div class="w-full h-full bg-fixed" style="background-color: rgba(255, 255, 255, 0.80);
          background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229, 229, 229, 0.50) 150%);">
        <div class="flex items-center justify-center h-full text-right">
          <div class="flex justify-end w-full gap-3 px-6 text-black md:px-6">
            <div *ngIf="user">
              <div class="flex w-full gap-4">
                <a routerLink="/dashboard" class="flex items-center justify-around p-4 bg-white shadow-lg rounded-xl">
                  <div class="p-2 mr-4 text-white shadow-lg rounded-xl bg-gradient-to-r from-stone-500 to-stone-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-10 h-10">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                    </svg>
                  </div>
                  <div class="text-left">
                    <h1 class="text-2xl font-bold text-gray-800" i18n>Dashboard</h1>
                    <span class="text-gray-500" i18n>My account</span>
                  </div>
                </a>
                <button (click)="logout()" class="flex items-center justify-around p-4 bg-white shadow-lg rounded-xl">
                  <div class="p-2 mr-4 text-white shadow-lg rounded-xl bg-gradient-to-r from-orange-500 to-orange-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-10 h-10">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                    </svg>
                  </div>
                  <div class="text-left">
                    <h1 class="text-2xl font-bold text-gray-800" i18n>Logout</h1>
                    <span class="text-gray-500" i18n>Sign out</span>
                  </div>
                </button>
              </div>
              <a routerLink="/profile"
                class="block w-full p-2 mt-2 font-semibold text-center bg-white rounded-lg shadow-lg">
                {{ user.name }}
              </a>
            </div>
            <div *ngIf="!user">
              <div class="flex items-center justify-around gap-4 p-4 bg-white shadow-lg rounded-xl">
                <div class="mx-4 text-center">
                  <h1 class="text-4xl font-bold text-gray-800" i18n>Join</h1>
                  <span class="text-gray-500" i18n>Log in</span>
                </div>
                <!-- TODO: Change logic -->
                <button (click)="login()"
                  class="inline-flex items-center p-2 space-x-2 font-semibold text-white bg-gray-700 shadow-lg rounded-xl">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" class="w-16 h-16" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <g fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385c.6.105.825-.255.825-.57c0-.285-.015-1.23-.015-2.235c-3.015.555-3.795-.735-4.035-1.41c-.135-.345-.72-1.41-1.23-1.695c-.42-.225-1.02-.78-.015-.795c.945-.015 1.62.87 1.845 1.23c1.08 1.815 2.805 1.305 3.495.99c.105-.78.42-1.305.765-1.605c-2.67-.3-5.46-1.335-5.46-5.925c0-1.305.465-2.385 1.23-3.225c-.12-.3-.54-1.53.12-3.18c0 0 1.005-.315 3.3 1.23c.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23c.66 1.65.24 2.88.12 3.18c.765.84 1.23 1.905 1.23 3.225c0 4.605-2.805 5.625-5.475 5.925c.435.375.81 1.095.81 2.22c0 1.605-.015 2.895-.015 3.3c0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"
                        fill="currentColor" />
                    </g>
                  </svg>
                </button>
                <button (click)="login()"
                  class="inline-flex items-center p-2 space-x-2 font-semibold text-white bg-red-500 shadow-lg rounded-xl">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" class="w-16 h-16" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <g fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 0C5.372 0 0 5.373 0 12s5.372 12 12 12c6.627 0 12-5.373 12-12S18.627 0 12 0zm.14 19.018c-3.868 0-7-3.14-7-7.018c0-3.878 3.132-7.018 7-7.018c1.89 0 3.47.697 4.682 1.829l-1.974 1.978v-.004c-.735-.702-1.667-1.062-2.708-1.062c-2.31 0-4.187 1.956-4.187 4.273c0 2.315 1.877 4.277 4.187 4.277c2.096 0 3.522-1.202 3.816-2.852H12.14v-2.737h6.585c.088.47.135.96.135 1.474c0 4.01-2.677 6.86-6.72 6.86z"
                        fill="currentColor" />
                    </g>
                  </svg>
                </button>
                <button (click)="login()"
                  class="inline-flex items-center p-2 space-x-2 font-semibold text-white bg-blue-500 rounded-xl">
                  <svg class="w-16 h-16 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="hidden h-48 bg-stone-700">
      &nbsp;
    </div>
    <div class="justify-between hidden h-10 border-t-2 border-orange-500 md:flex text-stone-500 bg-stone-800">
      <nav class="flex px-4 py-2">
        <ol class="inline-flex items-center text-stone-500 md:space-x-2 rtl:space-x-reverse">
          <li>
            <a href="/docs/"
              class="inline-flex items-center text-sm font-medium hover:text-white dark:text-gray-400 dark:hover:text-white"
              i18n>Documentation</a>
          </li>
          <li>·</li>
          <!--li>
            <a href="/wiki/"
              class="inline-flex items-center text-sm font-medium hover:text-white dark:text-gray-400 dark:hover:text-white"
              i18n>Wiki</a>
          </li>
          <li>·</li>
          <li>
            <a routerLink="/faqs"
              class="text-sm font-medium ms-1 hover:text-white md:ms-2 dark:text-gray-400 dark:hover:text-white"
              i18n>Faq's</a>
        </li-->
        </ol>
      </nav>
      <nav class="flex px-4 py-2" aria-label="Policies">
        <ol class="inline-flex items-center text-stone-500 md:space-x-2 rtl:space-x-reverse">
          <li>
            <a routerLink="/privacy"
              class="inline-flex items-center text-sm font-medium hover:text-white dark:text-gray-400 dark:hover:text-white"
              i18n>Privacy</a>
          </li>
          <li>
            <a routerLink="/legal"
              class="inline-flex items-center text-sm font-medium hover:text-white dark:text-gray-400 dark:hover:text-white"
              i18n>Legal</a>
          </li>
          <li>·</li>
          <li>
            <a routerLink="/tos"
              class="text-sm font-medium ms-1 hover:text-white md:ms-2 dark:text-gray-400 dark:hover:text-white"
              i18n>Terms and Conditions</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="py-4 text-xs text-center border-t-2 border-orange-500 bg-stone-900 text-stone-500">
      <p i18n>Corporation Oriented to the Development of Engineering Resources and Information for Commerce</p>
      <p>
        Coderic <sup>©</sup> · <span i18n>since september 30, 2004</span>
      </p>
    </div>
  </footer>
</div>
