<mat-toolbar-row>
  <h1 class="mat-h1">Registrar nueva ciudad</h1>
</mat-toolbar-row>
<form [formGroup]="createForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="create-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Ciudad</mat-label>
            <input matInput placeholder="Ciudad" formControlName="name">
            <mat-error *ngIf="createForm.controls.name.hasError('required')">
              Ciudad es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select matNativeControl [formControl]="createForm.controls.department_id">
              
              <mat-option *ngFor="let department of departments$ | async" [value]="department.id">
                {{ department.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createForm.controls.department_id.hasError('required')">
              Departamento es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!createForm.valid" mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon> Crear
      </button>
    </mat-card-actions>
  </mat-card>
</form>