table {
  width: 100%;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;

}

.mat-column-checkbox {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-edit, .mat-column-delete {
  width: 32px;
  border-left: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
