<mat-toolbar-row>
  <h1 class="mat-h1">Registrar nueva moneda</h1>
</mat-toolbar-row>
<form [formGroup]="createForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="create-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Código</mat-label>
            <input matInput placeholder="Código" minlength="3" maxlength="3" formControlName="code">
            <mat-hint>El formato de moneda estándar ISO 4217 es de 3 caractéres ejemplos: USD, EUR, COP, PEN</mat-hint>
            <mat-error *ngIf="createForm.controls.code.hasError('minlength')">
              Código de moneda <strong>no puede ser menos de 3 caracteres</strong>
            </mat-error>
            <mat-error *ngIf="createForm.controls.code.hasError('maxlength')">
              Código de moneda <strong>no puede ser más de 3 caracteres</strong>
            </mat-error>
            <mat-error *ngIf="createForm.controls.code.hasError('required')">
              Código de moneda es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Moneda" formControlName="name">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!createForm.valid" mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon> Crear
      </button>
    </mat-card-actions>
  </mat-card>
</form>