body {
    background-color: #EEEEEE;
}

.logo-login {
    width: 50%;
    margin: auto;
    display: block;
}

.login-card {
    width: 400px;
    margin: 5vh auto;
}
.login-card mat-card-title{
    text-align: center;
    display: block;
}

.full-width {
    width: 100%;
}
mat-card-actions button {
    margin: 0 auto;
}