/* Global Styles */
:root {
    --primary-color: #45A3FF;
    --secondary-color: #FF7A17;
    --tartiary-color: #85B900;
    --text-primary: #404040;
    --text-secondary: #b3b6bc;
    --text-dark: #4F4F4F;
    --text-low-dark: #858585;
    --text-light: #979797;
    --text-hidden: #c7c7c7;
    --background-hover: rgba(69, 163, 255, 0.1);
    --color-hover: #FF7A17;
    --stroke-color: #F0F0F0;
    --background-body: #FFFFFF;
    --bg-primary-color: #FFFFFF;
    --title-font-color: #2f384e;
    --bg-secondary-color: #FDFDFF;
    --border-secondary-color: #EBEBEB;
    --input-border: #A19F9D;
    --stroke-form-border: rgba(147, 139, 139, 0.16);
    --drop-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    --card-box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
    --box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.07), -4px -4px 13px #fff, 6px 6px 30px rgba(0, 0, 0, 0.05);
    --box-shadow-inset: -4px -4px 16px rgba(255, 255, 255, 0.25), 4px 4px 8px rgba(66, 83, 107, 0.09), inset 0 -4px 14px #fff, inset 0 2px 6px rgba(66, 83, 107, 0.22);
    --box-shadow-simle: 2px 2px 16px rgba(33, 36, 49, 0.16);
    --button-bg: #eef0f6;
    --button-bg-hover: #f6f7fc;
    --element-border-color: #eef0f6;
    --border-color: rgba(209, 217, 230, 0.9);
}

html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-primary);
    background: var(--bg-primary-color);
}

#root {
    max-width: 100%;
    overflow-x: clip;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.7rem;
}

h6 {
    font-size: 0.6rem;
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    h6 {
        font-size: 0.7rem;
    }
}

body.scrolling {
    overflow-y: hidden;
}

a,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

::selection {
    background-color: var(--primary-color);
    color: var(--text-color-grey);
}

img,
video,
svg {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dn {
    display: none !important;
}

.dn.show {
    display: block !important;
}

.dn.flex {
    display: flex !important;
}

.vn {
    visibility: hidden !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.welcome::-webkit-scrollbar,
#cities::-webkit-scrollbar,
.investor-add::-webkit-scrollbar,
.sidebar-wrapper::-webkit-scrollbar,
.documents::-webkit-scrollbar,
.responsiveFixBoth::-webkit-scrollbar,
.restrict::-webkit-scrollbar,
.tapes-checking::-webkit-scrollbar,
.investorCard .Ltds.show::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.welcome::-webkit-scrollbar-thumb,
#cities::-webkit-scrollbar-thumb,
.investor-add::-webkit-scrollbar-thumb,
.sidebar-wrapper::-webkit-scrollbar-thumb,
.documents::-webkit-scrollbar-thumb,
.responsiveFixBoth::-webkit-scrollbar-thumb,
.restrict::-webkit-scrollbar-thumb,
.tapes-checking::-webkit-scrollbar-thumb,
.investorCard .Ltds.show::-webkit-scrollbar-thumb {
    background: var(--background-hover);
    border-radius: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.welcome::-webkit-scrollbar-track,
#cities::-webkit-scrollbar-track,
.investor-add::-webkit-scrollbar-track,
.sidebar-wrapper::-webkit-scrollbar-track,
.documents::-webkit-scrollbar-track,
.responsiveFixBoth::-webkit-scrollbar-track,
.restrict::-webkit-scrollbar-track,
.tapes-checking::-webkit-scrollbar-track,
.investorCard .Ltds.show::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px transparent;
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

.css-1s2u09g-control {
    min-height: 30px !important;
}

.css-tlfecz-indicatorContainer {
    padding: 0px !important;
}

.css-1s2u09g-control {
    border-radius: 0px !important;
}

.editing {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

/* Layout Styles */
.App .main {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    -webkit-transition: margin-left .2s ease;
    transition: margin-left .2s ease;
    background-color: var(--background-body);
    color: var(--text-primary);
    padding: 0;
    width: 100vw;
    height: 100vh;
}


/* Login */

.welcome {
    height: 100vh;
    position: relative;
}

.welcome .forget-password .forget-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 19.58%);
}

.welcome .forget-password .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 35%;
    z-index: 30;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome .forget-password .message svg {
    color: var(--tartiary-color);
    width: 14%;
    margin: 10px 0px;
}

.welcome .forget-password .message p {
    margin: 1px 0px;
}

.welcome .forget-password .message button {
    margin: 10px 0px;
}

.welcome .welcoming {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/img/welcome.png);
    background-position: 8vh;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: auto 40vw;
}

.welcome .logo {
    position: absolute;
    top: 0;
    right: 80%;
    z-index: 2;
    width: 16%;
    height: auto;
}

.welcome .welcome-show {
    position: absolute;
    top: 230px;
    left: 0;
    z-index: 2;
    width: 50%;
    height: auto;
}

.welcome .hi-show {
    position: absolute;
    top: 214px;
    left: -42px;
    z-index: 2;
    width: 46%;
    height: auto;
}

.welcome .logIn {
    position: absolute;
    top: 195px;
    right: 15%;
    z-index: 3;
    width: 27.2%;
    /* padding-bottom: 200px; */
}

.welcome .forget-password .logIn {
    width: 45%;
}

.welcome .confirm-password .logIn {
    right: 13%;
    width: 50%;
}

.welcome .logIn .header {
    color: #605E5C;
    font-size: 3.125rem;
    font-weight: 600;
    text-align: center;
}

.welcome .orget-password .logIn .header {
    font-size: 2.5rem;
}

.welcome .logIn .sub-header {
    font-size: 1.5rem;
    color: #605E5C;
    text-align: center;
    font-weight: 400;
}

.welcome .confirm-password .logIn .sub-header {
    font-size: 1.125rem;
    color: #605E5C;
    text-align: center;
    font-weight: 300;
}

.welcome .logIn form {
    margin-top: 40px;
    width: 100%;
}

.welcome .orget-password .logIn form {
    width: 70%;
    margin: 40px auto 0px;
}

.welcome .logIn form label {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.welcome .logIn form input {
    height: 1.875rem;
    width: 100%;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid var(--stroke-form-border);
    background: transparent;
}

.welcome .logIn form input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
}

.welcome .logIn form input::-webkit-placeholder {
    font-size: 1rem;
    color: #938B8B;
}

.welcome .logIn form input::-moz-placeholder {
    font-size: 1rem;
    color: #938B8B;
}

.welcome .logIn form input::placeholder {
    font-size: 1rem;
    color: #938B8B;
}

.welcome .logIn form .user {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
}

.welcome .logIn form .password {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.welcome .logIn form .remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.welcome .logIn form .remember-forget .remember {
    font-size: 0.875rem;
    color: #605E5C;
    line-height: 1.25rem;
    text-shadow: 1px 2px 2px #00000049;
}

.welcome .logIn form .remember-forget .forget {
    font-size: 0.875rem;
    color: var(--secondary-color);
    line-height: 1.25rem;
    text-shadow: 1px 2px 2px #00000049;
    font-weight: 500;
}

.welcome .logIn form .submitButton {
    text-align: center;
}

.welcome.forget-password .logIn form .submitButton {
    text-align: left;
}

.welcome .logIn form .submitButton button {
    padding: 15px 45px;
    margin: 0 auto;
}

.welcome .orget-password .logIn form .submitButton button {
    margin: 20px 0 0;
    padding: 10px 65px;
}

@media screen and (max-width: 768px) {
    .welcome .welcome-show {
        display: none;
    }

    .welcome .hi-show {
        display: none;
    }

    .welcome .logIn {
        top: 200px;
        width: 90%;
        right: 10%;
        padding-bottom: 100px;
    }

    .welcome.forget-password .logIn {
        width: 90%;
    }

    .welcome .logo {
        position: absolute;
        top: 50px;
        right: 47%;
        z-index: 2;
        width: 130px;
        height: auto;
    }

    .welcome .submitButton {
        text-align: center;
    }

    .welcome.forget-password .logIn form .submitButton {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .welcome .logIn {
        right: 17%;
    }

    .welcome.confirm-password .logIn {
        right: 17%;
    }
}

@media screen and (max-width: 330px) {
    .welcome .logIn {
        width: 95%;
    }
}

.button {
    padding: 10px 45px;
    border-radius: 30px;
    display: inline-block;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}

.backButton {
    padding: 10px 20px;
    width: 90px;
    border-radius: 30px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.backButton svg {
    margin-right: 5px;
    display: inline-block;
}

button:hover {
    box-shadow: var(--box-shadow);
}

button:active {
    box-shadow: none;
}

button.backIcon svg {
    color: var(--primary-color);
    width: 30px;
    margin-bottom: 18px;
    margin-right: 12px;
}

.responsiveInvestorDetail button.backIcon svg {
    color: var(--primary-color);
    width: 30px;
    margin: 0px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--stroke-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--tartiary-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--tartiary-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Rating btn */

.ratingBtn {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    padding: 5px 25px;
}

.ratingBtn div {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 10px;
}

.button {
    background: var(--primary-color);
    color: #ffffff;
    display: inline-flex
}