<div class="w-full p-2 border-2 border-stone-200 border-dashed rounded-lg dark:border-stone-700">
  <div class="grid grid-cols-10 gap-4">
    <div class="col-span-2 row-span-2">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Key Partners
        </div>
        <div class="card-body h-full">
           (7) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
    <div class="col-span-2 row-span-1">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Key Activities
        </div>
        <div class="card-body h-full">
           (5) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
    <div class="col-span-2 row-span-2">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Value Propositions
        </div>
        <div class="card-body h-full">
           (1) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
    <div class="col-span-2 row-span-1">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Customer Relationships
        </div>
        <div class="card-body h-full">
           (3) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
    <div class="col-span-2 row-span-2">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Channels
        </div>
        <div class="card-body h-full">
           (2) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
    <div class="col-span-2 row-span-1">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Customer Segments
        </div>
        <div class="card-body h-full">
           (6) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
    <div class="col-span-2 row-span-1">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Key Resources
        </div>
        <div class="card-body h-full">
           (4) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
    <div class="col-span-5">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Cost Structure
        </div>
        <div class="card-body h-full">
           (9) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
    <div class="col-span-5">
      <div class="card border-2 border-stone-300 dark:border-stone-600 h-full bg-stone-200 rounded dark:bg-stone-800 p-2">
        <div class="card-header bg-stone-300 dark:bg-stone-700 p-2 rounded-t">
          Revenue Streams
        </div>
        <div class="card-body h-full">
           (8) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </div>
      </div>
    </div>
  </div>
</div>
