<mat-toolbar-row>
    <h1 class="mat-h1">Editar país con id: {{ id }}</h1>
</mat-toolbar-row>
<form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="create-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="País" formControlName="name">
              <mat-error *ngIf="editForm.controls.name.hasError('required')">
                País es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Código</mat-label>
              <input matInput placeholder="Código" formControlName="code">
              <mat-hint>ISO 3166-1 numérico</mat-hint>
              <mat-error *ngIf="editForm.controls.code.hasError('required')">
                Código es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Alfa 2</mat-label>
              <input matInput placeholder="Alfa2" formControlName="alfa2">
              <mat-hint>ISO 3166-1 alfa-2</mat-hint>
              <mat-error *ngIf="editForm.controls.alfa2.hasError('required')">
                Alfa 2 es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Alfa 3</mat-label>
              <input matInput placeholder="Alfa3" formControlName="alfa3">
              <mat-hint>ISO 3166-1 alfa-3</mat-hint>
              <mat-error *ngIf="editForm.controls.alfa3.hasError('required')">
                Alfa3 es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid">
          <mat-icon>save</mat-icon> Guardar
        </button>
        <div class="spacer"></div>
        <a mat-raised-button color="warn" (click)="delete()">
          <mat-icon>delete</mat-icon> Eliminar
        </a>
      </mat-card-actions>
    </mat-card>
  </form>
  